$agent-diameter: 2rem;
$agent-fov: 15rem;
$agent-pulse-border-width: 0.5rem;
$agent-pulse-duration: 2000ms;

@keyframes agent-appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes agent-pulse {
 0% {
    opacity: 1;
    width: 0;
    height: 0;
  }

  100% {
    opacity: 0;
    width: $agent-fov;
    height: $agent-fov;
  }
}

.agent {
  animation: agent-appear 1000ms ease-out forwards;
  will-change: transform;

  position: absolute;
  display: block;
  width: $agent-diameter;
  height: $agent-diameter;
  margin-left: -($agent-diameter / 2);
  margin-top: -($agent-diameter / 2);

  background: var(--agent-color, black);
  border-radius: 100%;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 0;
    height: 0;
    border: $agent-pulse-border-width solid var(--agent-color, black);
    border-radius: 100%;
  }

  &.is-paused, &.is-paused.has-revealed-landmark {
    &::before { animation: agent-pulse $agent-pulse-duration ease-out infinite; }
  }

  &.has-revealed-landmark {
    &::before { animation: agent-pulse $agent-pulse-duration ease-out; }
    &::after {
      // background: var(--agent-color, black);
      animation: agent-pulse #{$agent-pulse-duration / 2} ease-out;
    }
  }
}
