$agent-radius: 20px;
$agent-pov: 100px;

.agent {
  position: absolute;
  display: block;
  width: $agent-radius;
  height: $agent-radius;
  margin-left: -($agent-radius / 2);
  margin-top: -($agent-radius / 2);

  background: var(--agent-color, black);
  border-radius: 100%;

  &::after {
    content: '';
    border: 1px solid;
    display: block;
    width: $agent-pov;
    height: $agent-pov;
    transform: translateX(calc(-50% + #{$agent-radius / 2})) translateY(calc(-50% + #{$agent-radius / 2}));
    border-radius: 100%;
    border-color: var(--agent-color, black);
  }
}
