.describer {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  outline: 1px solid $black;
  padding: 2rem;
  background: $white;

  .describer-sentence {
    position: absolute;
    top: 10rem;
    left: 10rem;
    right: 10rem;
    max-height: 100%;
    overflow: hidden;

    font-size: 6rem;
    line-height: 1em;
    text-transform: uppercase;

    text-align: left;

    .selectable-word {
      color: $green;
      text-transform: uppercase;
      &.is-disabled { color: $red; }
    }
  }

  .describer-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
  }
}
