.drawer-wrapper {
  $border-width: 10px;
  $sprite-opacity: 0.2;

  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &.drawer {
      border: $border-width solid $black;
    }

    &.drawer-spriteholder {
      pointer-events: none;
      padding: $border-width;
      opacity: $sprite-opacity;
    }
  }
}
