.drawer-wrapper {
  $border-width: 0;
  $sprite-opacity: 1;
  $size: 90vmin;

  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;

    width: $size;
    height: $size;

    &.drawer {
      border: $border-width solid $black;
      box-shadow: 0px 0px 70px -20px rgba(0, 0, 0, 1);
    }

    &.drawer-spriteholder {
      pointer-events: none;
      padding: $border-width;
      opacity: $sprite-opacity;
    }
  }
}
