.input-number {
  @include no-select();

  display: inline-block;

  button.input-number-value {
    @include reset-Button();
    display: inline-block;
    pointer-events: none;
    color: var(--color);

    &[data-prefix]:not([data-prefix=''])::after {
      content: attr(data-prefix);
    }
  }

  .input-number-buttons {
    display: inline-block;

    .button {
      padding: 1rem 1.5rem;
      margin-left: 1ch;
    }
  }

}
