.input-number {
  @include no-select();
  display: inline-block;

  &-value {
    @include reset-Button();
    display: inline-block;
    pointer-events: none;
    color: var(--color);

    &[data-prefix]:not([data-prefix=''])::after { content: attr(data-prefix); }
  }

  &-buttons {
    display: inline-block;
    button {
      margin-left: 1rem;
    }
  }
}
