.landmark-generator {
  background: $white;
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;

  &-sentence {
    font-family: 'Friction Mono', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    padding: 5rem;

    font-size: 2.5rem;
    line-height: 2em;

    &-word{
      white-space: nowrap;

      &::before {
        content: attr(data-name);
        white-space: pre;
      }

      .input-word {
        &.is-constant { color: $black; }
        text-transform: uppercase;
        font-weight: bold;
      }

      .input-number {
        &-buttons {
          position: absolute;
          right: 0;
          line-height: 1em;
        }
      }
    }
  }

  &-buttons {
    z-index: 3;
    position: absolute;
    left: 5rem;
    bottom: 5rem;
    right: 5rem;
    display: flex;
    justify-content: space-between;
  }

  &-preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 5rem;
    width: 50vw;

    canvas.sprite-previewer {
      @include no-smooth();
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
