$nipple-radius: 200px;

@keyframes nipple-appear {
  from { transform: scale(0); }
  to { transform: scale(1); }
}


.nipple-component {
  z-index: 1;
  position: fixed;
  width: $nipple-radius;
  height: $nipple-radius;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  &.is-disabled {
    pointer-events: none;
    opacity: 0.1;
  }

  &:not(.is-disabled) .nipple {
    & > * {
      animation: nipple-appear 500ms cubic-bezier(.75, -0.5, 0, 2) forwards;
      &:last-child { animation-delay: 50ms; }
    }
  }
}
