$oui-colors: (
 'blue'
 'red'
 'green'
);

.oui {
  padding: 0.5rem !important;
  & > div { margin: 0 !important; }

  .oui-panel {
    max-height: 99vh;
    overflow-x: hidden;
    overflow-y: scroll;

    background: rgba(250, 250, 250, 0.95) !important;

    * { font-size: 1.4rem !important; }
  }

  @each $color in $oui-colors {
    &-#{$color} {
      svg rect:last-of-type { fill: #{$color} !important; }
      button { background: #{$color} !important; }
    }
  }
}
