.progress {
  color: var(--color);

  text-transform: uppercase;
  font-weight: bold;

  &::before {
    content: attr(data-name)' ';
    color: $black;
    font-weight: normal;
  }

  &-value {}
  &-total {
    &::before { content: '/'; }
  }
}
