.progress {
  font-family: 'Friction Mono', sans-serif;

  font-size: 2.5rem;
  color: var(--color);

  &::before {
    content: attr(data-name)' ';
    color: $black;
  }

  &-value {}
  &-total {
    &::before { content: '/'; }
  }
}
